name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test-ios:
    runs-on: macos-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Cache SPM & DerivedData
      uses: actions/cache@v5
      with:
        path: |
          ~/.swiftpm
          .build
          DerivedData
        key: ${{ runner.os }}-cache-${{ hashFiles('**/Package.resolved','**/*.xcodeproj/***','**/*.xcworkspace/***') }}
        restore-keys: |
          ${{ runner.os }}-cache-

    - name: Install xcpretty
      run: gem install xcpretty

    - name: Build for testing
      run: |
        set -o pipefail && \
        xcodebuild \
          -project src/rose.bud.thorn.xcodeproj \
          -scheme "rose.bud.thorn (iOS)" \
          -sdk iphonesimulator \
          -destination 'platform=iOS Simulator,name=iPhone 13,OS=latest' \
          -derivedDataPath DerivedData \
          clean build-for-testing CODE_SIGNING_ALLOWED=NO \
        | xcpretty
        